<head>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>

<div class="container-fluid">
  <div class="contact_item">
    <div>
      <img src="assets/images/office.jpg" width="100%" alt="" />
    </div>

    <div class="info">
      <h3>Contact me</h3>
      <h4>Milenko Zoric</h4>
      <h5> <span>Mail</span>: milenkozoric@yahoo.com</h5>
      <h5><span>UpWork:</span><a href="https://www.upwork.com/freelancers/~01d1aa0c481fe58693" target="_blank">MilenkoZoric</a></h5>
      <h5><span>GitHub:</span><a href="https://github.com/milenkozoric" target="_blank">MilenkoZoric</a></h5>
      <h5>&phone;  +381 64 3811***</h5>
    </div>
    <div class="social_media">
      <a href="https://www.facebook.com/milenko.zoric" class="fa fa-facebook" target="_blank"></a>
      <a
        href="https://www.linkedin.com/in/milenko-zoric-0baa1425a/" 
        class="fa fa-linkedin" target="_blank"
      ></a>
      <a href="https://www.instagram.com/milenkozoric/" class="fa fa-instagram" target="_blank"></a>
      <a href="#" class="fa fa-telegram"></a>
    </div>
  </div>
</div>
