<div class="div text-center" width="100%">
  <h3>About me:</h3>
</div>

<div class="container-fluid">
  <div class="container_item">
    <p>
      I was born on April 2nd, 1989. I am a member of the Serbian canoe team on
      flat water. I have won a gold medal at the World and European
      championships, and a silver medal at the 2016 Rio Olympics. My passion and
      dedication to sport has allowed me to achieve significant successes on an
      international level. I always strive to improve and work on my progress in
      order to continue competing for the highest positions in competitions.
    </p>

    <br />
    <p>
      In recent years, I have become interested in programming. I successfully
      completed a course in Frontend Development at FTN Informatics. This is a
      great accomplishment and shows my dedication to learning new skills and
      advancing in my career. As someone who has successfully completed a course
      in Frontend Development, I have demonstrated a strong understanding of the
      principles and techniques involved in this field. I have the knowledge and
      abilities necessary to begin building and designing websites and web
      applications. With my newfound skills and passion for programming, I am
      well-equipped to continue learning and growing as a programmer.
    </p>
    <br />
   
    <div class="btn_div">
      <button class="btn btn-primary" [routerLink]="['/skills']">
        My skills
      </button>
    </div>
  </div>
  <div class="container_item">
    <img
      src="assets/images/IMG_20170214_120310.jpg"
      width="100%"
      alt=""
    />
  </div>
</div>
