<head>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
</head>

<div class="container-fluid">
  <div class="container_item">
    <div class="titlle_box">
      <h1>Hi There,<br />I'm Milenko <span>Zoric</span></h1>
    </div>
    <div class="titlle_box">
      <h4>I Am Into <span>Web Developer</span></h4>
    </div>
    <div>
      <button class="btn btn-primary" [routerLink]="['/about']">
        About me
      </button>
    </div>
    <!-------->

    <!-------->
  </div>
  <div class="container_item">
    <div class="img_container">
      <img
        src="assets/images/Milenko-Zoric.jpg"
        width="100%"
        alt="me"
      />
    </div>
  </div>
</div>
<div class="social_media">
  <a
    href="https://www.facebook.com/milenko.zoric"
    class="fa fa-facebook"
    target="_blank"
  ></a>
  <a
    href="https://www.linkedin.com/in/milenko-zoric-0baa1425a/"
    class="fa fa-linkedin"
    target="_blank"
  ></a>
  <a
    href="https://www.instagram.com/milenkozoric/"
    class="fa fa-instagram"
    target="_blank"
  ></a>
  <a href="#" class="fa fa-telegram"></a>
</div>

<app-about></app-about>
<app-skills></app-skills>
<app-work></app-work>
<app-contact></app-contact>
