<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h3>My Works</h3>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <!---Works Card-->
      <div class="card mt-3">
        <div class="card-item1">
          <video
            src="assets/video/Trainvideo.mp4"
            controls
            width="100%"
          ></video>
        </div>
        <div class="card-item">
          <h3>Train 2022</h3>
          <p>This is an example of an Angular Web-App that I created as a practice exercise for a course.
            This is a simulation of searching and buying a train ticket.
            It was made using Bootstrap, HTML, CSS and TypeScript, it contains filtering and sorting options.
            It is possible to buy a new ticket and also delete a purchased ticket.</p>
          <div class="btn_div">
            <img src="assets/skills/github.svg" width="10%" alt="">
               <a href="https://github.com/milenkozoric/Train_2022" target="_blank">GitHub Train</a>

          </div>
        </div>
      </div>
      <!---Works Card-->
      <div class="card mt-3">
        <div class="card-item1">
          <video
            src="assets/video/Cake Heaven.mp4"
            controls
            width="100%"
          ></video>
        </div>
        <div class="card-item">
          <h3>Cake Heaven</h3>
          <p>This is a web application made in the Angular framework, made for a Cakes Shop.
            The application can filter by ingredients of Cakes.Cakes are dynamically added to the list of Cakes.
            The user can create their own profile and send a message to the server.
          </p>
          <div class="btn_div">
            <img src="assets/skills/github.svg" width="10%" alt="">
               <a href="https://github.com/milenkozoric/Cake-Heaven" target="_blank">GitHub CakeHeaven</a>

          </div>
        </div>
      </div>
      <!---Works Card-->
      <div class="card mt-3 mb-3">
        <div class="card-item1">
          <video
            src="assets/video/ArtMuseum.mp4"
            controls
            width="100%"
          ></video>
        </div>
        <div class="card-item">
          <h3>Art Museum</h3>
          <p>This is a web application made in Angular using Bootstrap, HTML, CSS, and TypeScript.
            Here exhibitions of a Museum are displayed, new art can be added and existing ones can be deleted from the exhibition.
            By filling out the form, a new exhibition is added to the Museum.
          </p>
          <div class="btn_div">
            <img src="assets/skills/github.svg" width="10%" alt="">
               <a href="https://github.com/milenkozoric/Art-Museum" target="_blank">GitHub Art Museum</a>

          </div>
        </div>
      </div>

      
    </div>
  </div>
</div>


