
h3{
  text-align: center;
  margin: 1em;
  font-weight: 700;
}
.card {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: space-between;
  

  background: #b3b3b3;
 
}
.card:hover {
  
  transition: ease;
  box-shadow: 1px;
  -webkit-box-shadow: 20.5px 1px 26.5px 2.5px #814242;
-moz-box-shadow: 20.5px 1px 26.5px 2.5px #814242;
box-shadow: 20.5px 1px 26.5px 2.5px #814242;
}
.card:hover .btn_div {
  opacity: 1;
}

.card-item {
  
  width: 50%;
}
.card-item1{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-item h3 {
  text-align: center;
  padding: 10px;
}
.card-item p{
  width: 90%;
  text-align:left;
  margin: 0 auto;
  padding: 1em 0;
}
video {
  padding: 10px;
  
}

.btn_div {
  padding: 1em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}




@media only screen and (max-width: 640px){
  .card{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .card-item{
    width: 100%;
  }

  .card-item1{
width: 100%;
  }
  .btn_div{
    opacity: 1;
  }
}