.container-fluid {
  background-color: #e3f2fd;
}

.menu {
  margin-top: 12px;
}

.menu ul {
  padding: 0;
  margin: 0;
}
.menu ul li {
  list-style-type: none;
  list-style-type: none;
  display: inline-block;
  font-size: 20px;
  margin-left: 50px;
  font-weight: 500;
}

.menu ul li:hover {
  color: #0d6efd;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

/* UnderLine efect */

.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #0d6efd;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before,
.hvr-underline-from-left:focus:before,
.hvr-underline-from-left:active:before {
  right: 0;
}

@media only screen and (max-width: 640px) {
  .container-fluid {
    width: 100hr;
  }
  .logo img {
    width: 100%;
  }
  .menu {
    display: none;
    z-index: 1;
    position: absolute;
    right: -150px;
    top: 12px;
    width: 150px;

    background: rgba(227, 242, 253, 0.3);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    border: 1px solid rgba(227, 242, 253, 0.15);
  }
  .menu ul li {
    display: block;
    text-align: left;
    margin: 0;
    padding: 10px 0 10px 26px;
    border-bottom: 1px solid black;
  }
  .menu_icon {
    margin: 5px 0;
    display: inline-block;
    position: relative;
    right: 2px;
    top: 0px;
  }

  .menu_icon span {
    width: 25px;
    height: 3px;
    background-color: black;
    display: block;
  }

  .menu_icon span:nth-child(2) {
    margin: 4px 0;
  }
  .menu_icon_Class span:nth-child(2) {
    display: none;
  }

  .menu_icon_Class span:nth-child(1) {
    transform: rotate(40deg);
  }
  .menu_icon_Class span:nth-child(3) {
    transform: rotate(-40deg);
    margin-top: -3px;
  }

  .menuClass {
    right: 0;
    transition: 0.4s ease-in-out;
    z-index: 1;
    display: block;
    position: absolute;
    right: 0px;
    top: 12px;
    width: 130px;

    background: rgba(227, 242, 253, 0.7);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    border: 1px solid rgba(227, 242, 253, 0.15);
  }
}
